@use "variables";
@use "spacing";
@use "settings";
@use "utilities";

@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/Josefin_Sans/static/JosefinSans-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata/Alata-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: variables.$black;
}

.header {
  background: url("../images/mobile/image-hero.jpg") no-repeat center/contain;
  height: 650px;
  display: flex;
  flex-direction: column;
  @include spacing.space(padding, 500, y);
  @include spacing.space(padding, 300, x);
  > .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .logo {
      z-index: 1;
    }
    > .h-menu {
      cursor: pointer;
    }
    > .close-menu {
      z-index: 1;
      cursor: pointer;
      display: none;
    }
  }
  > .nav > .nav-list {
    display: none;
    &.tablet-mobile-open {
      display: flex;
      flex-direction: column;
      @include spacing.space(gap, 300);
      background-color: variables.$black;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include spacing.space(padding, 300, x);
      padding-top: 200px;
    }
    list-style: none;

    > .item > .link {
      text-decoration: none;
      color: variables.$white;
      text-transform: uppercase;
    }
  }
  > .lead {
    border: 2px solid variables.$white;
    color: variables.$white;
    text-transform: uppercase;
    @include spacing.space(padding, 300, x);
    @include spacing.space(padding, 200, y);
    align-self: flex-end;
    margin-top: 50%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  @include spacing.space(padding, 1000, y);
  @include spacing.space(padding, 300, x);
  @include spacing.space(gap, 400);
}

.hero {
  display: flex;
  flex-direction: column;
  > .hero-image {
    width: 327px;
  }
  > .hero-image > img {
    width: 100%;
    height: auto;
  }
  > .hero-content {
    display: flex;
    flex-direction: column;
    @include spacing.space(gap, 300);
    @include spacing.space(padding, 500, y);
    @include spacing.space(padding, 200, x);
    background-color: variables.$white;
  }
  > .hero-content > .title {
    text-align: center;
    text-transform: uppercase;
  }
  > .hero-content > .description {
    color: variables.$gray;
    text-align: center;
  }
}

.creations {
  display: flex;
  flex-direction: column;
  @include spacing.space(gap, 500);
  > .title {
    text-transform: uppercase;
    text-align: center;
  }
  > .content {
    display: flex;
    flex-direction: column;
    list-style: none;
    @include spacing.space(gap, 300);
  }
  > .content > .item {
    .link {
      text-transform: uppercase;
      text-decoration: none;
      color: variables.$white;
    }
    figure {
      position: relative;
      width: 100%;
      height: 120px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      > .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          to left,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.6) 60%
        );
      }
      > figcaption {
        position: absolute;
        left: 24px;
        bottom: 24px;
        max-width: 40%;
      }
    }
  }

  .see-all {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid variables.$black;
    text-align: center;
    padding: 10px 32px;
    margin: 0 auto;
    color: variables.$black;
  }
}

.footer {
  background: variables.$black;
  @include spacing.space(padding, 600);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include spacing.space(gap, 500);
  > .nav > .nav-list {
    display: flex;
    flex-direction: column;
    @include spacing.space(gap, 200);
  }
  > .nav > .nav-list {
    text-align: center;
  }
  > .nav > .nav-list > .item > .link {
    text-decoration: none;
    color: variables.$white;
  }
  > .social > .social-list {
    display: flex;
    @include spacing.space(gap, 200);
  }
  > .licensing {
    color: variables.$gray;
    text-align: center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  .header {
    background: url("../images/desktop/image-hero.jpg") no-repeat center/cover;
    @include spacing.space(padding, 600, y);
    @include spacing.space(padding, 1000, x);

    > .nav > .nav-list {
      &.tablet-mobile-open {
        @include spacing.space(padding, 1000, x);
      }
    }
    > .lead {
      margin-top: 30%;
    }
  }

  .main {
    @include spacing.space(padding, 1000, x);
  }

  .hero {
    > .hero-image {
      width: 610px;
    }

    > .hero-content {
      width: 610px;
      margin-top: -80px;
      @include spacing.space(gap, 300);
      @include spacing.space(padding, 800, y);
      @include spacing.space(padding, 0, x);
    }
    > .hero-content > .title {
      @include spacing.space(padding, 800, x);
    }
  }

  .creations {
    @include spacing.space(gap, 400);
    > .content > .item {
      > .link {
        display: block;
      }

      figure > figcaption {
        max-width: 24%;
      }
    }
  }

  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    @include spacing.space(gap, 300);
    @include spacing.space(padding, 1000);

    > .nav {
      order: 2;
    }
    > .nav > .nav-list {
      flex-direction: row;
    }

    > .licensing {
      order: 4;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    background: url("../images/desktop/image-hero.jpg") no-repeat center/cover
      variables.$gray;
    padding-inline: 170px;
    @include spacing.space(padding, 800, y);
    > .nav {
      > .h-menu {
        display: none;
      }
      > .nav-list {
        display: flex;
        background: none;
        position: unset;
        padding: unset;
        justify-content: flex-end;
        @include spacing.space(gap, 400);
        > .item > .link {
          text-transform: initial;
        }
      }
    }
    > .lead {
      align-self: flex-start;
      width: 9.25em;
      margin-top: 11.5%;
      @include spacing.space(padding, 500, x);
      @include spacing.space(padding, 400, y);
    }
  }

  .main {
    padding: 160px;
  }

  .hero {
    position: relative;
    > .hero-image {
      width: 731px;
    }
    > .hero-content {
      position: absolute;
      top: 260px;
      right: -60px;
      padding: 90px 85px;

      > .title {
        text-align: left;
        padding: 0;
      }
      > .description {
        text-align: left;
      }
    }
  }

  .creations {
    display: grid;
    margin-top: 148px;
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;

    .title {
      width: fit-content;
      order: 1;
      text-align: left;
      grid-column: 1 / span 3;
    }
    .content {
      order: 3;
      grid-column: 1 / span 4;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include spacing.space(gap, 400);

      > .item > .link {
        height: 450px;

        figure {
          height: 100%;
        }
      }
    }

    .see-all {
      order: 2;
      width: fit-content;
      margin: unset;
      grid-column: 4;
      justify-self: end;
    }
  }
  .footer {
    @include spacing.space(gap, 200);
    padding: 40px 160px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    > .social {
      justify-self: end;
    }
    > .licensing {
      justify-self: end;
    }
  }
}
